<ion-content class="app-page">
    <ng-container *ngIf="chat && chat.chatStatus === 'open'; else noChat">
        <div *ngFor="let message of chat.messages" class="message"> 
            <ion-text><p>{{ message.time | date: 'h:mm a' }}</p></ion-text>
            <div>
                <picture>
                    <ion-img src="./assets/images/user.svg"></ion-img>
                </picture>
                <div>
                    <ion-text>
                        <h4>
                            {{ message.senderName | titlecase }} 
                            {{message.senderId === user.data?.id ? ' (Yo)' : ''}}
                        </h4>
                    </ion-text>
                    <ion-text><p>{{ message.message }}</p></ion-text>
                </div> 
            </div>
        </div>
        <ng-container *ngIf="chat.messages?.length === 0">
            <div class="c-empty-data">
                <ion-img src="./assets/images/empty.svg" />
                <ion-text>
                    <h2>{{ "Sin mensajes todavía" }}</h2>
                    <p>
                        {{ "¡Sé el primero en enviar un mensaje al chat!" }}
                    </p>
                </ion-text>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #noChat>
        <ng-container *ngIf="chat === null || chat?.chatStatus === 'closed'; else skeleton">
            <div class="c-empty-data">
                <ion-img src="./assets/images/empty.svg" />
                <ion-text>
                    <h2>{{ "No tienes un chat activo" }}</h2>
                    <p>
                        {{ "Para poder acceder a un chat debes estar embarcado en un viaje" }}
                    </p>
                </ion-text>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #skeleton>
        <div *ngFor="let i of [0, 0, 0]" class="skeleton-message">
            <ion-skeleton-text animated="true"></ion-skeleton-text>
            <ion-skeleton-text></ion-skeleton-text>
        </div>
    </ng-template>
</ion-content>
