<ion-content class="app-page">
    <!-- <ion-button>Test</ion-button> -->
    <div class="map-container" id="map">
    </div>
    <ng-container *ngIf="mode === 0">
        <ion-button 
            class="action-btn primary"  
            size="large"
            (click)="goToNextStep()"
            [disabled]="!stops.length"
        >
            Continuar
        </ion-button>
    </ng-container>
    <ng-container *ngIf="trip">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button size="large">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ng-container *ngIf="!departuretimeDifference(30) && user.data?.role === 'passenger'">
                    <ion-fab-button (click)="leaveTrip()" color="danger">
                        <i class="material-icons-outlined">logout</i>
                    </ion-fab-button>
                </ng-container>
                <ng-container *ngIf="departuretimeDifference()">
                    <ion-fab-button (click)="finishTrip()" color="primary">
                        <i class="material-icons-outlined">done</i>
                    </ion-fab-button>
                </ng-container>
                <ion-fab-button (click)="viewTrip()" color="tertiary">
                    <i class="material-icons-outlined">info</i>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ng-container>
</ion-content>




<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>