:host {
    ion-content::part(scroll) {
        --offset-top: 0px;
        padding: 0;
    }

    .map-container {
        height: 100%;
    }

    .action-btn {
        padding: 16px 8px;
    }
}

@media screen and (min-width: 1281px) {
    ion-content::part(scroll) {
        height: 100%;
    }
}