<ion-content [style.background-image]="'url(' + bgImage + ')'">
    <picture class="container--logo abs-center">
        <ion-img class="logo" src="assets/images/logo.svg" alt="UILS"></ion-img>
        <!-- <h3>De estudiantes para estudiantes</h3> -->
    </picture>
    <div class="c-actions">
        <ion-button 
            class="action-btn primary" 
            size="large" 
            (click)="redirect('signup')"
            tabindex="3">Registrar
        </ion-button>
        <ion-button 
            class="action-btn secondary" 
            fill="outline" 
            size="large" 
            (click)="redirect('login')"
            tabindex="3">Ingresar
        </ion-button>
    </div>
</ion-content>