.title {
    margin-bottom: 30px;
    
}

.title h4 {
    color: #55e712;
    text-align: center;
    
}

.title p {
    margin-top: 0 !important;
    color: #ffffff;
    font-size: small;
}

.forget a {
    font-size: small !important;
}



.head {
    color: #0b76e9;
}

.usd {
    color: #30445a;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    border-radius: 10px; /* Esto es opcional, para tener bordes redondeados */
    max-width: 400px;
}
.botn{
    margin-top: 10px;
}

/* Ajuste general del ion-content para que use Flexbox */
ion-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: rgb(245, 245, 245);
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;   
    .content{
    display: flex;
    justify-content: center;


    }  /* Centra el contenido horizontalmente */
}



/* Puedes agregar un contenedor alrededor de todos los elementos del login para tener mejor control */
.login-container {
    width: 100%;
    max-width: 350px; /* Ajusta este valor según lo que necesites, por ejemplo, si quieres que el contenedor tenga un ancho máximo de 400px en pantallas grandes */
    padding: 20px;
    background-color: rgba(248, 9, 9, 0.7); /* Esto es opcional, si deseas que tenga un fondo ligeramente blanco */
    border-radius: 10px; /* Esto es opcional, para tener bordes redondeados */
    box-shadow: 0 2px 10px rgba(90, 90, 90, 0.61); /* Esto es opcional, para darle una sombra sutil */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center;     /* Centra el contenido horizontalmente */
}
