@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Humanst 521 BT';
    src: url('../assets/fonts/Humanst521 BT.ttf');
    /* Add other formats if necessary */
    font-weight: normal;
    font-style: normal;
}