<ion-content [fullscreen]="true" class="app-page">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="title">
    <ng-container *ngIf="user.data; else skeletonTitle">
      <ion-text>
        <h2>Bienvenido</h2>
      </ion-text>
      <ion-text>
        <h2>{{ user.data?.fullName | titlecase }}</h2>
      </ion-text>
    </ng-container>
    <ng-template #skeletonTitle>
      <ion-skeleton-text></ion-skeleton-text>
      <ion-skeleton-text></ion-skeleton-text>
    </ng-template>
  </section>
  <section class="content">
    <ng-container *ngIf="trips; else noTrips">
      <h3>Viajes publicados</h3>
      <ng-container *ngIf="trips">
        <ion-card *ngFor="let trip of trips">
          <ion-card-header>
            <ion-card-title>
              Hora de partida {{ trip?.departureTime | date: 'h:mm a' }} 
              <i class="material-icons{{
              trip.availableSeats === 1 
                ? ' error' 
                : trip.availableSeats === 2 
                ? ' warning' 
                : trip.availableSeats > 2 
                ? ' success'
                : ' error'
              }}">circle</i></ion-card-title>
            <ion-card-subtitle>{{ trip.driverName }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text><strong>Lugar de salida: </strong> {{ trip.startingPlace | titlecase }}</ion-text>
            <ion-text><strong>Paradas: </strong></ion-text>
            <ul>
              <ng-container *ngFor="let stop of trip.dirRoutes">
                <li *ngIf="stop">{{ stop }}</li>
              </ng-container>
            </ul>
            <ion-text><strong>Asientos disponibles: </strong> {{ trip.availableSeats }}</ion-text>
            <ion-text><strong>Vehiculo: </strong> {{ trip.vehicle.brand }} - {{trip.vehicle.model}}</ion-text>
            <ion-text class="price"><strong>Precio: </strong> {{ trip.price }} COP</ion-text>
          </ion-card-content>
          <ion-button fill="clear" (click)="joinTrip(trip)">Tomar</ion-button>
          <ion-button fill="clear" (click)="viewInMap(trip.coordinates)">Ver en mapa</ion-button>
        </ion-card>
      </ng-container>
    </ng-container>
    <ng-template #noTrips>
      <ng-container *ngIf="trips === null; else skeleton">
        <div class="c-empty-data">
          <ion-img src="./assets/images/empty.svg" />
          <ion-text>
            <h2>{{ "No hay publicaciones" }}</h2>
            <p>
              {{ "Intenta más tarde, de seguro habrán publicaciones." }}
            </p>
          </ion-text>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #skeleton>
      <ion-skeleton-text></ion-skeleton-text>
      <ion-skeleton-text animated="true"></ion-skeleton-text>
    </ng-template>
  </section>
</ion-content>