<ion-router-outlet></ion-router-outlet>
<ion-tabs>
    <ng-container *ngIf="navbar.input;">
      <form>
        <ion-input 
          class="input-field" 
          shape="round" 
          fill="outline" 
          placeholder="Aa"
          [formControl]="navbar.input.control" 
          clearOnEdit="false" 
          maxlength="500" 
        />
        <ion-button 
          (click)="navbar.input.sendAction()" 
          [disabled]="navbar.input.control.disabled"
          >
          <i class="material-icons">send</i>
        </ion-button>
      </form>
    </ng-container>
    <ion-tab-bar slot="bottom" id="app-bottom-nav">
      <ng-container *ngIf="!navbar.input">
        <ng-container *ngIf="menus; else loadingMenus">
          <ion-tab-button
            *ngFor="let menu of menus"
            [tab]="menu.route"
            [class]="menu.active ? 'tab-selected' : ''"
          >
            <div>
              <i
              [class]="
                  menu.active ? 'material-icons' : 'material-icons-outlined'
              "
              >{{ menu.icon }}</i
              >
            </div>
            <ion-label>{{
                menu.name
            }}</ion-label>
          </ion-tab-button>
        </ng-container>
        <ng-template #loadingMenus>
          <ng-container *ngIf="menus === undefined">
            <div class="c-skeletons">
              <div>
                <ion-skeleton-text style="width: 24px; height: 24px" />
                <ion-skeleton-text
                  style="width: 48px; height: 16px"
                  animated="true"
                />
              </div>
              <div>
                <ion-skeleton-text style="width: 24px; height: 24px" />
                <ion-skeleton-text
                  style="width: 48px; height: 16px"
                  animated="true"
                />
              </div>
              <div>
                <ion-skeleton-text style="width: 24px; height: 24px" />
                <ion-skeleton-text
                  style="width: 48px; height: 16px"
                  animated="true"
                />
              </div>
              <div>
                <ion-skeleton-text style="width: 24px; height: 24px" />
                <ion-skeleton-text
                  style="width: 48px; height: 16px"
                  animated="true"
                />
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-container>
    </ion-tab-bar>
</ion-tabs>